.wrap-header
	.nav
		img(src="img/logo/logo.png").logo
		
		ul
			li
				a(href="#")
					|	Equipment
			li
				a(href="#")
					|	Manufacture
			li
				a(href="#")
					|	Clients
			li
				a(href="#")
					|	Feeds
			li
				a(href="#")
					|	Location
			li
				a(href="#")
					|	Contacts
		
		.header-section
			a(href="#").call
				|	+33 333 3333  
			a(href="#").icon-header-find
			a(href="#").icon-header-login
	.nav-gradient